---
---


.ribbon-inner h1 a {
  color: white;
}

#fontselect {
  text-align: right;
}


@font-face {
  font-family: "PinyonScript";
  src: url({{ "/assets/fonts/PinyonScript-Regular.ttf" | relative_url }});
}

span.big {
  font-size: 140%;
}

sup {
  vertical-align: super;
  font-size: smaller;
  text-decoration: underline;
  text-decoration-style: double;
}

sup:before {
  content: ' ';
}

.letter {
  font-family: "PinyonScript";
  font-size: 140%;
}

.letter blockquote {
  font-family: "PinyonScript";
}

.letter p {
  text-indent: 2em;
}

.letter ins {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.letter ins.straight {
  text-decoration-style: solid;
}

.letter strike {
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}

.letter div.signature {
  text-align: right;
}

.letter div.signature img {
  border: 0;
  box-shadow: none;
  height: 150px;
}


#page_navigation {
  font-size: 90%;
  display: block;
  width: auto;
  overflow: hidden;
}

#page_navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

#page_navigation .next {
  text-align: right;
}
