---
---


.ribbon-inner h1 a {
  color: white;
}

#tools {
  text-align: right;
}


#accordion.ui-accordion {
  font-family: Georgia, Palatino, "” Palatino Linotype”", Times, "“Times New Roman”", serif;
}

#accordion .ui-state-default {
  background: #f7f4ef;
}

#accordion .ui-state-default.ui-state-active {
  border: 1px solid #4a202f;
  background: #7c334f;
}

#accordion .ui-accordion-content.ui-widget-content {
  padding: 0;
  background: #f3eee7;
  color: #544943;
}

#accordion ul li em {
  display: block;
  padding-left: 1em;
  font: bold italic 90% Georgia, Times, “Times New Roman”, serif;
}


@font-face {
  font-family: "PinyonScript";
  src: url({{ "/assets/fonts/PinyonScript-Regular.ttf" | relative_url }});
}

span.big {
  font-size: 140%;
}

sup {
  vertical-align: super;
  font-size: smaller;
  text-decoration: underline;
  text-decoration-style: double;
}

sup:before {
  content: ' ';
}

#letter {
  font-family: "PinyonScript";
  font-size: 140%;
}

#letter blockquote {
  font-family: "PinyonScript";
}

#letter p {
  text-indent: 2em;
}

#letter em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

#letter em.straight {
  text-decoration-style: solid;
}

#letter strike {
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}

#letter div.signature {
  text-align: right;
}

#letter div.signature img {
  border: 0;
  box-shadow: none;
  height: 7em;
}

#letter ul li {
  margin-left: 10vw;
  text-indent: 0;
  background: none;
}

#letter ul.parag4em li {
  padding-left: 0;
  margin-left: 4em;
  text-indent: -6em;
}

#letter ul.noindent li {
  margin-left: 0;
  text-indent; 2em;

}

#letter p.noindent {
  text-indent: 0;
}

#letter .postscriptum p:first-child {
  text-indent: 0em;
}

#letter .center {
  text-align: center;
}

.page_navigation {
  font-size: 90%;
  display: block;
  width: auto;
  overflow: hidden;
}

.page_navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page_navigation .next {
  text-align: right;
}
